<a href="https://colab.research.google.com/github/mmcuervo/ExamMLcategorias/blob/main/01_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#En este archivo analisamos los datos del dataset

In [2]:
# 1) Importar librerías básicas para EDA
import pandas as pd              # Manejo de datos en DataFrames
import numpy as np               # Utilidades numéricas (vectores, matrices, NaN)
import matplotlib.pyplot as plt  # Gráficas base
import seaborn as sns            # Gráficas estadísticas (opcional, solo EDA)
from pathlib import Path         # Manejo seguro de rutas de archivos

In [16]:
#Llamamos al Dataset
from google.colab import drive
drive.mount('/content/drive')
DATA_PATH = "/content/drive/MyDrive/AiLabData/Support_tickets.csv"
df = pd.read_csv(DATA_PATH, encoding="utf-8")
dc = df.copy()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
#Verificamos el archivo
print("Dimensiones del dataset:" )
dc.info()
print(dc.isnull().sum())
print("\nNúmero de filas duplicadas:", dc.duplicated().sum())
dc.head()

Dimensiones del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ticket_id               50000 non-null  int64
 1   day_of_week             50000 non-null  object
 2   day_of_week_num         50000 non-null  int64
 3   company_id              50000 non-null  int64
 4   company_size            50000 non-null  object
 5   company_size_cat        50000 non-null  int64
 6   industry                50000 non-null  object
 7   industry_cat            50000 non-null  int64
 8   customer_tier           50000 non-null  object
 9   customer_tier_cat       50000 non-null  int64
 10  org_users               50000 non-null  int64
 11  region                  50000 non-null  object
 12  region_cat              50000 non-null  int64
 13  past_30d_tickets        50000 non-null  int64
 14  past_90d_incidents      50000 non-null  int64
 15  product_area            50000 non-null  object
 16  product_area_cat        50000 non-null  int64
 17  booking_channel         50000 non-null  object
 18  booking_channel_cat     50000 non-null  int64
 19  reported_by_role        50000 non-null  object
 20  reported_by_role_cat    50000 non-null  int64
 21  customers_affected      50000 non-null  int64
 22  error_rate_pct          50000 non-null  float64
 23  downtime_min            50000 non-null  int64
 24  payment_impact_flag     50000 non-null  int64
 25  security_incident_flag  50000 non-null  int64
 26  data_loss_flag          50000 non-null  int64
 27  has_runbook             50000 non-null  int64
 28  customer_sentiment      49094 non-null  object
 29  customer_sentiment_cat  50000 non-null  int64
 30  description_length      50000 non-null  int64
 31  priority                50000 non-null  object
 32  priority_cat            50000 non-null  int64
dtypes: float64(1), int64(22), object(10)
memory usage: 12.6+ MB
ticket_id                   0
day_of_week                 0
day_of_week_num             0
company_id                  0
company_size                0
company_size_cat            0
industry                    0
industry_cat                0
customer_tier               0
customer_tier_cat           0
org_users                   0
region                      0
region_cat                  0
past_30d_tickets            0
past_90d_incidents          0
product_area                0
product_area_cat            0
booking_channel             0
booking_channel_cat         0
reported_by_role            0
reported_by_role_cat        0
customers_affected          0
error_rate_pct              0
downtime_min                0
payment_impact_flag         0
security_incident_flag      0
data_loss_flag              0
has_runbook                 0
customer_sentiment        906
customer_sentiment_cat      0
description_length          0
priority                    0
priority_cat                0
dtype: int64

Número de filas duplicadas: 0

,ticket_id,day_of_week,day_of_week_num,company_id,company_size,company_size_cat,industry,industry_cat,customer_tier,customer_tier_cat,...,downtime_min,payment_impact_flag,security_incident_flag,data_loss_flag,has_runbook,customer_sentiment,customer_sentiment_cat,description_length,priority,priority_cat
0,1000000000,Wed,3,100015,Small,1,media,7,Basic,1,...,6,0,0,0,0,neutral,2,227,low,1
1,1000000001,Sat,6,100023,Small,1,healthcare,5,Basic,1,...,2,0,0,0,0,neutral,2,461,low,1
2,1000000002,Mon,1,100012,Small,1,gaming,4,Basic,1,...,0,0,0,0,1,positive,3,306,low,1
3,1000000003,Wed,3,100003,Small,1,media,7,Plus,2,...,16,0,0,0,1,neutral,2,363,medium,2
4,1000000004,Mon,1,100019,Small,1,ecommerce,2,Plus,2,...,6,0,0,0,0,neutral,2,442,low,1

In [18]:
# Display rows with any null values
rows_with_nulls = df[df.isnull().any(axis=1)]
display(rows_with_nulls)

,ticket_id,day_of_week,day_of_week_num,company_id,company_size,company_size_cat,industry,industry_cat,customer_tier,customer_tier_cat,...,downtime_min,payment_impact_flag,security_incident_flag,data_loss_flag,has_runbook,customer_sentiment,customer_sentiment_cat,description_length,priority,priority_cat
12,1000000012,Thu,4,100007,Large,3,media,7,Enterprise,3,...,0,0,0,0,1,NaN,0,556,medium,2
64,1000000064,Tue,2,100018,Large,3,saas_b2b,3,Plus,2,...,0,0,0,0,0,NaN,0,387,medium,2
115,1000000115,Fri,5,100016,Medium,2,ecommerce,2,Basic,1,...,0,0,0,0,0,NaN,0,285,low,1
166,1000000166,Thu,4,100019,Small,1,ecommerce,2,Plus,2,...,0,0,0,0,1,NaN,0,250,low,1
233,1000000233,Fri,5,100013,Medium,2,media,7,Plus,2,...,0,0,0,0,1,NaN,0,403,low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49721,1000049721,Thu,4,100007,Large,3,media,7,Enterprise,3,...,11,0,0,0,1,NaN,0,492,high,3
49795,1000049795,Mon,1,100007,Large,3,media,7,Enterprise,3,...,0,0,0,0,1,NaN,0,468,medium,2
49862,1000049862,Fri,5,100005,Large,3,logistics,6,Plus,2,...,41,0,0,0,1,NaN,0,468,high,3
49939,1000049939,Mon,1,100020,Medium,2,gaming,4,Plus,2,...,3,0,0,0,0,NaN,0,344,low,1
49947,1000049947,Mon,1,100010,Large,3,saas_b2b,3,Plus,2,...,20,0,0,0,1,NaN,0,445,medium,2

In [20]:
#Cuento los diferentes niveles en las diferentes columnas categóricas
cols_cat=['day_of_week','company_size','industry','customer_tier','region','product_area',
          'booking_channel','reported_by_role','customer_sentiment','priority']
for col in cols_cat:
  print(f'Columna {col}:{df[col].nunique()} subcategorias')

for col in cols_cat:
  print(df[col].value_counts())

Columna day_of_week:7 subcategorias
Columna company_size:3 subcategorias
Columna industry:7 subcategorias
Columna customer_tier:3 subcategorias
Columna region:3 subcategorias
Columna product_area:6 subcategorias
Columna booking_channel:4 subcategorias
Columna reported_by_role:5 subcategorias
Columna customer_sentiment:3 subcategorias
Columna priority:3 subcategorias
day_of_week
Mon    11126
Tue     9415
Thu     9132
Wed     8998
Fri     8799
Sat     1265
Sun     1265
Name: count, dtype: int64
company_size
Small     18901
Medium    17158
Large     13941
Name: count, dtype: int64
industry
saas_b2b      13107
media         11931
ecommerce      7672
gaming         4935
fintech        4457
logistics      4163
healthcare     3735
Name: count, dtype: int64
customer_tier
Plus          21967
Basic         15696
Enterprise    12337
Name: count, dtype: int64
region
AMER    17103
EMEA    17065
APAC    15832
Name: count, dtype: int64
product_area
mobile           10003
analytics         9898
auth              9707
notifications     9691
billing           5816
data_pipeline     4885
Name: count, dtype: int64
booking_channel
web      17590
email    14622
chat     11753
phone     6035
Name: count, dtype: int64
reported_by_role
support            23577
devops             10381
product_manager     7530
finance             5440
c_level             3072
Name: count, dtype: int64
customer_sentiment
neutral     32944
negative    11317
positive     4833
Name: count, dtype: int64
priority
low       25000
medium    17500
high       7500
Name: count, dtype: int64

,ticket_id,day_of_week,day_of_week_num,company_id,company_size,company_size_cat,industry,industry_cat,customer_tier,customer_tier_cat,...,downtime_min,payment_impact_flag,security_incident_flag,data_loss_flag,has_runbook,customer_sentiment,customer_sentiment_cat,description_length,priority,priority_cat
12,1000000012,Thu,4,100007,Large,3,media,7,Enterprise,3,...,0,0,0,0,1,NaN,0,556,medium,2
64,1000000064,Tue,2,100018,Large,3,saas_b2b,3,Plus,2,...,0,0,0,0,0,NaN,0,387,medium,2
115,1000000115,Fri,5,100016,Medium,2,ecommerce,2,Basic,1,...,0,0,0,0,0,NaN,0,285,low,1
166,1000000166,Thu,4,100019,Small,1,ecommerce,2,Plus,2,...,0,0,0,0,1,NaN,0,250,low,1
233,1000000233,Fri,5,100013,Medium,2,media,7,Plus,2,...,0,0,0,0,1,NaN,0,403,low,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49721,1000049721,Thu,4,100007,Large,3,media,7,Enterprise,3,...,11,0,0,0,1,NaN,0,492,high,3
49795,1000049795,Mon,1,100007,Large,3,media,7,Enterprise,3,...,0,0,0,0,1,NaN,0,468,medium,2
49862,1000049862,Fri,5,100005,Large,3,logistics,6,Plus,2,...,41,0,0,0,1,NaN,0,468,high,3
49939,1000049939,Mon,1,100020,Medium,2,gaming,4,Plus,2,...,3,0,0,0,0,NaN,0,344,low,1
49947,1000049947,Mon,1,100010,Large,3,saas_b2b,3,Plus,2,...,20,0,0,0,1,NaN,0,445,medium,2

In [23]:
import numpy as np
from scipy.stats import chi2_contingency

col_label = "customer_sentiment"
col_code  = "customer_sentiment_cat"

# A) Normalizamos SOLO el dtype de customer_sentiment_cat (no tocamos otras columnas)
dc[col_code] = pd.to_numeric(dc[col_code], errors="coerce").astype("Int64")

# B) Definimos "faltante de sentimiento" EXCLUSIVAMENTE aquí:
mask_missing_cs = dc[col_label].isna() | (dc[col_code] == 0)

print(f"Filas marcadas como faltantes de sentimiento: {mask_missing_cs.sum()} de {len(dc)} "
      f"({mask_missing_cs.mean()*100:.2f}%)")

# C) Impacto en balance de la clase objetivo si eliminamos esas filas
orig  = dc["priority"].value_counts(normalize=True).rename("original")
after = dc.loc[~mask_missing_cs, "priority"].value_counts(normalize=True).rename("sin_missing")
balance_comp = pd.concat([orig, after], axis=1).fillna(0)
display((balance_comp*100).round(2))  # % por clase antes vs después

# D) Asociación estadística entre "faltante de sentimiento" y priority
ct = pd.crosstab(dc["priority"], mask_missing_cs)
chi2, p, dof, expected = chi2_contingency(ct)
print("Chi2 p-value (asociación missing_sentiment ~ priority):", p)

# Usa crosstab para ver % de faltante por categoría de cada columna
cand_cols = [c for c in ["industry","region","customer_tier"] if c in dc.columns]

for col in cand_cols:
    print(f"\n% faltante de sentimiento por {col} (top 10):")
    tab = pd.crosstab(dc[col], mask_missing_cs).reindex(columns=[True, False], fill_value=0)
    rates = (tab[True] / tab.sum(axis=1)).sort_values(ascending=False).head(10)
    display((rates*100).round(2))

Filas marcadas como faltantes de sentimiento: 906 de 50000 (1.81%)

          original  sin_missing
priority
low         50.000       50.300
medium      35.000       34.870
high        15.000       14.820

Chi2 p-value (asociación missing_sentiment ~ priority): 2.179712127441409e-26

% faltante de sentimiento por industry (top 10):

industry
logistics    2.590
fintech      2.240
saas_b2b     2.170
healthcare   1.790
media        1.680
gaming       1.360
ecommerce    1.030
dtype: float64

% faltante de sentimiento por region (top 10):

region
AMER   2.720
EMEA   1.910
APAC   0.730
dtype: float64

% faltante de sentimiento por customer_tier (top 10):

customer_tier
Enterprise   2.550
Plus         2.170
Basic        0.740
dtype: float64